<!doctype html>
<html lang="en" class="h-100">
<head>
  <title>İletişim | GPS Takip Sistemi</title>

  <%- include('../../partials/head'); -%>
  <%- include('../../partials/style'); -%>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include('../../partials/header'); -%>

  <main class="px-3">
    <p class="lead">İstek, öneri ve şikayetlerinizi tarafımıza iletebilirsiniz.</p>

    <div class="row mt-5">
      <div class="col-6">
        <div class="card bg-secondary" style="width: 18rem;">
          <img src="/assets/web/images/huseyin-yildirim.jpg" class="card-img-top" alt="Hüseyin Yıldırım">
          <div class="card-body">
            <h5 class="card-title">Hüseyin Yıldırım</h5>
            <p class="card-text">huseyinyildirim@hotmail.com<br>+90 532 060 26 02</p>
            <a href="https://twitter.com/huseyinyildirim" class="btn btn-primary"><i data-feather="twitter"></i></a>
            <a href="https://www.linkedin.com/in/huseyildirim/" class="btn btn-primary"><i data-feather="linkedin"></i></a>
            <a href="https://github.com/huseyinyildirim" class="btn btn-primary"><i data-feather="github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card bg-secondary" style="width: 18rem;">
          <img src="/assets/web/images/ali-piskin.jpg" class="card-img-top" alt="Ali Pişkin">
          <div class="card-body">
            <h5 class="card-title">Ali Pişkin</h5>
            <p class="card-text">ali.piskin@hotmail.com.tr<br>+90 544 721 40 80</p>
            <a href="https://www.facebook.com/alipiskin45" class="btn btn-primary"><i data-feather="facebook"></i></a>
            <a href="https://www.linkedin.com/in/ali-pi%C5%9Fkin-55ab21121/" class="btn btn-primary"><i data-feather="linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('../../partials/footer'); -%>
</div>

<%- include('../../partials/script'); -%>  </body>
</html>