<!doctype html>
<html lang="en">
<head>
  <title>Müşteriler | Yönetim Paneli</title>

  <%- include('../../partials/head'); -%>
  <%- include('../../partials/style'); -%>
</head>
<body>

<%- include('../../partials/header'); -%>

<div class="container-fluid">
  <div class="row">
    <%- include('../../partials/navigation'); -%>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Müşteriler</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>E-posta</th>
            <th>Telefon</th>
            <th>İşlemler</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Ümit</td>
            <td>Kocabıçak</td>
            <td>umit@sakarya.edu.tr</td>
            <td>+902642955891</td>
            <td><a href="#" class="btn btn-primary btn-sm"><span data-feather="edit"></span> Düzenle</a> <a href="#" class="btn btn-danger btn-sm"><span data-feather="trash-2"></span> Sil</a> </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<%- include('../../partials/script'); -%>
</body>
</html>